body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.header-1 {
    display: flex;
    padding-left: 150px;
    align-items: center;
    padding-right: 150px;
    height: 50px;
}

.header-2 {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    height: 300px;
    align-items: center;
}

.top-one {
    background-color: #1F2937;
    height: 350px;
}

.lajcior {
    color: #F9FAF8;
}

a {
    font-size: 14px;
    color: #E5E7EB;
    text-decoration: none;
}

#logo {
    flex-grow: 1;
    font-size: 24px;
    flex-shrink: 0;
    flex-basis: 380px;
}

.links {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 0;
    justify-content: flex-end;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    flex-grow: 1;
}

.right-side {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    background-color: gray;
    height: 185px;
    flex-shrink: 0;
    color: white;
    justify-content: center;
    align-items: center;
}

#hero-text {
    color: #E5E7EB;
    margin: 0px;
    margin-bottom: 8px;
    min-width: 200px;
    margin-right: 20px;
}

#headline {
    margin-bottom: 0px;
    margin-right: 10px;
}

#sign-up {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 100px;
    background-color: #3882F6;
    border: 0;
    color: white;
    font-weight: bold;
    padding: 4px;
    border-radius: 6px;
}

.some-random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.square {
    display: flex;
}

.img-place {
    background-color: gray;
}

.photo {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 10%;
}

.pic-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.image-desc {
    margin-top: 4px;
    display: flex;
    width: 230px;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    text-align: center;
}

#second-header {
    padding-top: 20px;
    padding-bottom: 30px;
}

.third-part {
    background-color: #E5E7EB;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    flex-shrink: 0;
    min-width: 350px;
}

#signature {
    align-self: flex-end;
}