body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.header-1 {
    display: flex;
}

.header-2 {
    display: flex;
}

.top-one {
    background-color: #1F2937;
}

.lajcior {
    color: #F9FAF8;
}